{% load static %}
<link href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript">

    var domain = "http://127.0.0.1:8000/";

    var url = domain +"api/v1/tasks/?";

    function search() {
            var text = document.getElementById("search_text").value.trim();
            console.log("cscsn " + document.getElementById("search_text").value.trim());
            //alert("Hello");
            if (text === "") {
                var text = getUrlParameter("search_text");
                console.log(text);
            }

            $.getJSON(url + "title__contains=" + text + "&format=json", function (json) {
                //data is the JSON string
                //console.log(json);
                var objects = json['objects'];
                //console.log(objects['length']);
                $("tbody").remove();
                 console.log(json);
                addPendingTasks(objects);

                addCompletedTasks(objects);
            });
        }

    function convertToDateFormat(objectElement) {
        var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                "July", "Aug", "Sept", "Oct", "Nov", "Dec"];

        var date = new Date(objectElement);

        var hours = date.getHours();
        var minutes = date.getMinutes();
        var ampm = date.getHours() >= 12 ? 'pm' : 'am';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        minutes = minutes < 10 ? '0' + minutes : minutes;
        var strTime = hours + ':' + minutes  + ampm;

        console.log(monthNames[date.getMonth()] + " " + date.getDate() + " " + date.getFullYear() + ", " + strTime);
        var due_date = monthNames[date.getMonth()] + " " + date.getDate() + " " + date.getFullYear() + ", " + strTime;
        return due_date;
    }

    function addCompletedTasks(objects) {
        for (var i = 0; i < objects['length']; i++) {
            if(objects[i]['state'] == 1) {
                tr = $('<tr>');
                tr.append("<td>" + objects[i]['title'] + "</td>");
                tr.append("<td>" + objects[i]['description'] + "</td>");

                tr.append("<td  style='text-align:center';>" + convertToDateFormat(objects[i]['due_date']) + " UTC </td>");
                if (objects[i]['state'] == 0) {
                    tr.append("<td ><a href=/update" + objects[i]['resource_uri'] + "? >" + "Pending" + "</a></td>");
                }
                else
                    tr.append("<td><a href=/update" + objects[i]['resource_uri'] + "? >" + "Completed" + "</a></td>");

                var sub_tasks = objects[i]['sub_tasks_many'];
                $('#CompletedTable').append(tr);

                for (var j = 0; j < sub_tasks['length']; j++) {
                    tr = $('<tr>');
                    tr.append("<td><ul><li>" + sub_tasks[j]['sub_title'] + "</li></ul></td>");
                    tr.append("<td>" + sub_tasks[j]['sub_description'] + "</td>");
                    tr.append("<td style='text-align:center';>" + "-" + "</td>");
                    if (sub_tasks[j]['sub_state'] == 0) {
                        tr.append("<td ><a href=/update" + sub_tasks[j]['resource_uri'] + "? >" + "Pending" + "</a></td>");
                    }
                    else
                        tr.append("<td><a href=/update" + sub_tasks[j]['resource_uri'] + "? >" + "Completed" + "</a></td>");

                    $('#CompletedTable').append(tr);

                }
            }

        }
    }

    function addPendingTasks(objects) {
        for (var i = 0; i < objects['length']; i++) {
            if(objects[i]['state'] == 0) {
                tr = $('<tr>');
                tr.append("<td>" + objects[i]['title'] + "</td>");
                tr.append("<td>" + objects[i]['description'] + "</td>");

                tr.append("<td style='text-align:center';>" + convertToDateFormat(objects[i]['due_date']) + " UTC </td>");
                if (objects[i]['state'] == 0) {
                    tr.append("<td ><a href=/update" + objects[i]['resource_uri'] + "? >" + "Pending" + "</a></td>");
                }
                else
                    tr.append("<td><a href=/update" + objects[i]['resource_uri'] + "? >" + "Completed" + "</a></td>");

                var sub_tasks = objects[i]['sub_tasks_many'];
                $('#Pendingtable').append(tr);

                for (var j = 0; j < sub_tasks['length']; j++) {
                    tr = $('<tr>');
                    tr.append("<td><ul><li>" + sub_tasks[j]['sub_title'] + "</li></ul></td>");
                    tr.append("<td>" + sub_tasks[j]['sub_description'] + "</td>");
                    tr.append("<td style='text-align:center';>" + "-" + "</td>");
                    if (sub_tasks[j]['sub_state'] == 0) {
                        tr.append("<td ><a href=/update" + sub_tasks[j]['resource_uri'] + "? >" + "Pending" + "</a></td>");
                    }
                    else
                        tr.append("<td><a href=/update" + sub_tasks[j]['resource_uri'] + "? >" + "Completed" + "</a></td>");

                    $('#Pendingtable').append(tr);

                }
            }

        }
    }

    function getJsonData(url) {
        $.getJSON(url + "format=json", function (json) {
            //data is the JSON string
            console.log(json);
            var objects = json['objects'];
            //console.log(objects['length']);
            $("tbody").remove();

            addPendingTasks(objects);

            addCompletedTasks(objects);

        });
    }

    function jsFunction(value) {
        {#alert(value);#}
        switch (value) {
            case "1":
                url = domain +"api/v1/tasks/?";
                break;
            case "2":
            {#alert("2");#}
                url = domain +"api2/due_date_today/?";
                break;
            case "3":
                url = domain +"api2/due_date_this_week/?";
                break;
            case "4":
                url = domain +"api2/due_date_next_week/?";
                break;
            case "5":
                url = domain +"api2/due_date_overdue/?";
                break;
        }
        console.log(url);
        getJsonData(url);
    }

    message = "";
    {% for tasks in all_tasks %}
        message += "{{ tasks.title }} is due at {{ tasks.due_date }}. \n";
    {% endfor %}
    if(message===""){
        message = "No tasks to be due in next 4 hours"
    }
    alert(message);

    $(document).ready(function () {

        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };

        var text = getUrlParameter("search_text");
        console.log(text);


        $("#search").click(function () {
            var text = document.getElementById("search_text").value.trim();
            console.log("cscsn " + document.getElementById("search_text").value.trim());
            //alert("Hello");
            if (text === "") {
                var text = getUrlParameter("search_text");
                console.log(text);
            }

            $.getJSON(url + "title__contains=" + text + "&format=json", function (json) {
                //data is the JSON string
                //console.log(json);
                var objects = json['objects'];
                //console.log(objects['length']);
                $("tbody").remove();
                 console.log(json);
                addPendingTasks(objects);

                addCompletedTasks(objects);
            });
        });



        if (!(text !== undefined)) {
            getJsonData(url);
        }
        else {
            $("#search").click();
        }

        var input = document.getElementById("search");
        // Execute a function when the user releases a key on the keyboard
        input.addEventListener("keyup", function (event) {
            // Cancel the default action, if needed
            event.preventDefault();
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13) {
                // Trigger the button element with a click
                $("#search").click();
            }
        });


        $('#checkbox').click(function (event) {
            if (event.target.type !== 'checkbox') {
                $(':checkbox', this).trigger('click');
                alert("hello");
            }
        });

    });


</script>



<head>
    <title>To-do List App</title>
</head>

<body>

<div class="navbar navbar-inverse navbar-static-top" role="navigation">

	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" rel="home" href="/">To Do List</a>
	</div>

    <ul class="nav navbar-nav">
        <li class="active"> <a href="/">Home</a></li>
      <li><a href="/admin/">Admin Login</a></li>
    </ul>
    </ul>

	<div class="collapse navbar-collapse navbar-ex1-collapse">

		<div class="col-sm-3 col-md-3 pull-right">
		<form class="navbar-form" role="search">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search" name="search_text" id="search_text" onkeyup="search()">
			<div class="input-group-btn">
				<button class="btn btn-default" type="button" value="Search" id="search"> Search</button>
			</div>
		</div>
		</form>
		</div>



	</div>
</div>


<div class="container-fluid">

    <div class="form-group">
        <label for="sel1"><h4>Filter by Due-Date (select one):</h4></label>
    <select class="form-control-static" type="filter" onchange="jsFunction(this.value);">
        <option value="1">Reset</option>
        <option value="2">Today</option>
        <option value="3">This Week</option>
        <option value="4">Next Week</option>
        <option value="5">Overdue</option>
    </select>
    </div>

    <h2>Pending Tasks</h2>
    <table id="Pendingtable" class="record_table table table-striped table-bordered table-sm " cellspacing="0"
           width="100%">
        <thead>
        <tr>
            <th class="th-sm">Title
                <i class="fa  float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">Description
                <i class="fa  float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm" style="text-align: center">Due-Date
                <i class="fa  float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">State
                <i class="fa float-right" aria-hidden="true"></i>
            </th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <h2>Completed Tasks</h2>
    <table id="CompletedTable" class="record_table table table-striped table-bordered table-sm " cellspacing="0"
           width="100%">
        <thead>
        <tr>
            <th class="th-sm">Title
                <i class="fa  float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">Description
                <i class="fa  float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm" style="text-align: center">Due-Date
                <i class="fa  float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">State
                <i class="fa float-right" aria-hidden="true"></i>
            </th>
        </tr>
        </thead>
        <tbody>
        </tbody>
        <div id ="search_empty"></div>
    </table>
</div>
</body>